body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:196px;
  width:398px;
  height:159px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:218px;
  width:73px;
  height:23px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:216px;
  width:300px;
  height:25px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:241px;
  width:73px;
  height:25px;
}
#u158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:241px;
  width:300px;
  height:25px;
}
#u159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:301px;
  width:140px;
  height:25px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:301px;
  width:140px;
  height:25px;
}
#u161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:178px;
  width:87px;
  height:18px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
